/* Basic editor styles */
.tiptap {
    :first-child {
        margin-top: 0;
    }

    /* List styles */

    ol {
        list-style-type: decimal;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }

    ul {
        list-style-type: disc;

        li p {
            margin-top: 0.25em;
            margin-bottom: 0.25em;
        }
    }
}